## Looping statements
- To perform a task multiple times
- In python, for and while only
### For loop
- ```for in range():
       # body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [6]:
for n in range(10):
    print(n,end='')

0123456789

In [7]:
for n in range(10):
    print(n,end=',')

0,1,2,3,4,5,6,7,8,9,

In [8]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [9]:
for a in range(1,10,2):
    print(a,end=' ')

1 3 5 7 9

In [10]:
for b in range(0,15,2):
    print(b,end=' ')

0 2 4 6 8 10 12 14

In [14]:
## generate 5 or 10 miltiples upto 10
n = int(input('enter a value'))
for a in range(1,11):
    print(n*a)

enter a value5
5
10
15
20
25
30
35
40
45
50

In [18]:
# generate a math table for a given number
# input: enter a no to generate math table:12
# outpue:12*1=12
#        12*2=24.......12*10=120

n = int(input('enter a value:'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter a value:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [13]:
## task1: generate math table from upto given range
## input:5
# 2,3,4,5 tables
n = int(input('enter the tables :'))
for m in range(2,n+1):
    for i in range(1,11):
        print(m,'*',i,'=',m*i)

enter the tables :3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

### while loop
- i=0
- while(cond):
- #body of the loop
- increment/decrement

In [9]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### jump Statements
- by using these statements we will terminate(exit) the loop
- those are break and cintinue
- break: break state will teminate the loop per
- continue: it will terminate for instant time only

In [21]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [23]:
for j in range(1,101):
    if(j%5==0):
        continue
    print(j,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [16]:
#task2: generate even number upto 100(use range with 3 arguments)
#input: enter start value:5
#output: 6,8,10,......,100

a = int(input('enter the starting num:'))
for b in range(a,100):
    if b%2==0:
        print(b,end=' ')

enter the starting num:5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [18]:
a=int(input('enter starting value:'))
if(a%2==0):
    for n in range(a,101,2):
        print(n,end=' ')
else:
    for n in range(a+1,101,2):
        print(n,end=' ')

enter starting value:5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100