### Operators
   - Assignment operators
   - membership operators
   -identity operators

## Assignment operators
- +=,-=,*=,/=,//=,**=,%=,<=,>=,==

In [3]:
a=10
a

10

In [4]:
a=a+1
a

11

In [7]:
a+=2
a

15

In [8]:
a-=2
a

13

In [10]:
a*=2
a

26

In [11]:
a

26

## memebership operators
- by using this operators we will identify a pericular element becong to a group or not
- they are in, not in

In [15]:
arr = [1,2,3,4,5,6]
inp=3
inp in arr

True

In [16]:
10 in arr

False

In [18]:
s1 = 'shaik noor'
'n' in s1

True

In [19]:
'shaik' in s1

True

In [21]:
bits = '001001000111'
'00' in bits

True

In [22]:
4 not in arr

False

In [23]:
arr

[1, 2, 3, 4, 5, 6]

## identity operators
- by using this operators we compare values
- they are is,is not

In [24]:
'abc' is 'abc'

True

In [25]:
'abc' is 'cbd'

False

In [26]:
123 is 123

True

In [27]:
123 is not 1234

True

## Conditional control statements
- it controls the flow of execution based on condition
- for the we have few different types of statements
    - conditional stat
    - looping stat
    - jump atat

### conditional statements
- if
     - if(cond):
           stat
- if else
- nested
- else if ladder

In [28]:
if (5<6):
    print('true')

true

In [31]:
if (5<6):
    print('true')

true

In [32]:
if (5<6):
    print('true')
    print("5 is small")

true
5 is small

In [37]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [41]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [42]:
if (4>7):
    print('i am inside if block')
else:
    print('i am insude else block')

i am insude else block

In [45]:
if (23>7):
    print('i am inside if block')
else:
    print('i am insude else block')
print('i am going to exit')

i am inside if block
i am going to exit

In [47]:
if (4>7):
    print('i am inside if block')
    print('just added')
else:
    print('i am insude else block')

i am insude else block

In [48]:
if (5<6):
    if (6<7):
        print('6 is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [49]:
if ((5<6) and (6<7)):
    print("6 is existed in b/w 5 and 6")
else:
       print('try again')

6 is existed in b/w 5 and 6

In [52]:
if (343<67):
    print('true')
elif(341>45):
    print('i am from elif')
else:
    print("false")

i am from elif

### task1: write a logic to find biggest of 2 nums 34 and 234
### task2:biggest of 3 nums
### task3:find given number is even or not
    - if it is even print power of that val
    - otherwise print multiply that value with 5
### task4:write a logic to find a given nummber is 5 multiple or not

In [55]:
if (34<234):
    print('234 is big num')
else:
    print('34 is big num')

234 is big num

In [1]:
if (43>78):
    if(43>6):
        print('a is big')
    else:
        print('c is big')
else:
    print('b is big')

b is big

In [5]:
n = int(input('enter a value'))
if n%2==0:
    print(pow(n,2))
else:
    print(n*5)

enter a value143
715

In [3]:
n = int(input('enter a value:'))
if (n%5==0):
    print('given number is 5 multiple')
else:
    print('not 5 multiple')

enter a value:3445
given number is 5 multiple