In [1]:
print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python

### Collections in python 
    - List
    - Tuple
    - Set
    - Dictionary

### List 
    - List data can be represented by using [] or list()
    - List allow duplicate value
    - We can manupulate data by using indexing and Slicing
    - Oredered format values are stored in a list

In [5]:
List1=[1,2,3]
List1

[1, 2, 3]

In [6]:
List2=["Noor","Firdoze","Khammu"]
List2

['Noor', 'Firdoze', 'Khammu']

In [7]:
List3=["Ram",1,"Sam",2,"Nayan",3]
print(List3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [8]:
# Indexing
List3[2]

'Sam'

In [9]:
List3[4]

'Nayan'

In [10]:
List3[5]

3

In [11]:
List3[-1]

3

In [12]:
List3[-4]

'Sam'

In [13]:
List3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [14]:
List3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [15]:
List3[2:]

['Sam', 2, 'Nayan', 3]

In [16]:
List3[0:4]

['Ram', 1, 'Sam', 2]

In [17]:
List3[0:4]

['Ram', 1, 'Sam', 2]

In [19]:
List3[:-2]

['Ram', 1, 'Sam', 2]

In [20]:
List3[1:4]

[1, 'Sam', 2]

In [22]:
List3[-2:1:-1]

['Nayan', 2, 'Sam']

In [23]:
List3[2:0:-1]

['Sam', 1]

In [24]:
List3[4::-3]

['Nayan', 1]

In [26]:
demo=List3[1:3]
demo

[1, 'Sam']

In [27]:
demo[::-1]

['Sam', 1]

In [28]:
List3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [29]:
List3.append("Mohammad")
List3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mohammad']

In [30]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [46]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [47]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [37]:
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [38]:
list5.pop()
list5

[1, 2, 3, 'a']

In [39]:
list5.pop(2)
list5

[1, 2, 'a']

In [40]:
list5.clear()
list5

[]

In [41]:
del list5

list5

NameError: name 'list5' is not defined

In [48]:
list5.insert(3,"Firdoze")
list5

[1, 2, 3, 'Firdoze', 'a', 'b', 'c']

In [49]:
list7=list5+list6
list7

[1, 2, 3, 'Firdoze', 'a', 'b', 'c', 'a', 'b', 'c']

In [50]:
for data in list5:
    print(data)

1
2
3
Firdoze
a
b
c

In [52]:
employee=["Noor","Firdoze","Khammu"]
manager=["Mohammad","Ashrafa","Rahiman"]
for emp in employee:
    manager.append(emp)
    
print(manager)

['Mohammad', 'Ashrafa', 'Rahiman', 'Noor', 'Firdoze', 'Khammu']

In [54]:
if "Asharafa" in manager:
    print("She is in manager list.")
else:
    print("Noshe is not in manager list")

Noshe is not in manager list

In [56]:
list5.extend(list6)
list5

[1, 2, 3, 'Firdoze', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [57]:
list5.count(2)

1

In [ ]:
# In a given list i want to get 2nd higest value
Example:
i/p:  321321
      3213
      121
      2
      3244234
      332443
        332443

In [59]:
marks=[]
marks_size=int(input("Enter how many marks are there:"))
for data in range(marks_size):
    marks_list=int(input("Enter marks:"))
    marks.append(marks_list)
    
print("Entered marks are:",marks)
def secondHigest(marks):
    marks.sort()
    return marks[-2]

secondHigest(marks)

Enter how many marks are there:7
Enter marks:88
Enter marks:90
Enter marks:95
Enter marks:87
Enter marks:95
Enter marks:99
Enter marks:85
Entered marks are: [88, 90, 95, 87, 95, 99, 85]

95