### find the max and second max of a list

ex: [10,20,9,100,89,500]
500,100

In [3]:
l=[10,20,9,100,89,500]
l.sort()

print("maximum number in alist is:",l[-1])
print("second maximum number in alist is:",l[-2])

maximum number in alist is: 500
second maximum number in alist is: 100

In [4]:
# find the max and min without using predefined function
l=[10,20,9,100,89,500]
m=l[0]    #m=10
for i in l:
    if(i>m):
        m=i
print("max number in a list is:",m)

max number in a list is: 500

In [5]:
# find the min number in alist
l=[10,20,9,100,89,500]
m=l[0]    #m=10
for i in l:
    if(i<m):
        m=i
print("max number in a list is:",m)

max number in a list is: 9

In [31]:
# sort the list of elements without using predefined function
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[9, 10, 20, 89, 100, 500]

In [30]:
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]<l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[500, 100, 89, 20, 10, 9]

In [37]:
#find the prime number in a list
l=[2,3,4,5,6,7,8,9,10,11]      # 2,3,5,7,11
plist=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("prime number is:",i)
        plist.append(i)
plist

prime number is: 2
prime number is: 3
prime number is: 5
prime number is: 7
prime number is: 11

[2, 3, 5, 7, 11]

In [39]:
# print the squares of a list
l=[1,2,3,4]  # =>[1,4,9,16]
li=[]
for i in l:
    li.append(i**2)
li

[1, 4, 9, 16]

### Tuples:
- Tuples is like a lists
- Tuples are immutable list
- Tuples are create by using ()

In [41]:
t=(1,2,3,"hello",4,5,9.9)
type(t)

tuple

In [42]:
t=(1,2,3,[10,20,30],"hello",6.66)
t

(1, 2, 3, [10, 20, 30], 'hello', 6.66)

In [43]:
l=[(1,2,3),("hello","welcome","to","all"),10,20]
l

[(1, 2, 3), ('hello', 'welcome', 'to', 'all'), 10, 20]

### Access elements from tuples

In [50]:
t=(1,2,3,"hello","5.7")
t[-1]
t[1:]
t[-2]
t[::-1]  #start,end,step

('5.7', 'hello', 3, 2, 1)

In [51]:
t=([1,2,3],[4,5,6])
t[0]
t[1]
t[1][0]

4

In [1]:
t=(1,2,3,4,5,6,7,8,"hello")
t[0]=100
t

TypeError: 'tuple' object does not support item assignment

In [54]:
l=[1,2,3,4,5,6]
l[0]=100
l

[100, 2, 3, 4, 5, 6]

In [55]:
t=(1,2,3,4,5,6,"hello","good",1,1)
t.count(1)

3

In [56]:
t.index(3)

2

### Sets:
- set is a un-order data elements
- set can be create by using {}
- set didn't allow the duplicate elements

In [57]:
# create a set
s={"hello","good",1,2,3,9,8,4.5}
type(s)

set

In [58]:
s=set()
type(s)

set

In [59]:
# without passing elements that object return dictionary
s={}
type(s)

dict

In [60]:
s={1,1,1,1,2,2,2,3,3,4,5,100.101,3.5,"hello","hello"}
s

{1, 100.101, 2, 3, 3.5, 4, 5, 'hello'}